[Unit]
Description=HTTP Live Streaming Network Video Recorder
After=syslog.target network.target sound.target

[Service]
User=jrichard
Environment=DISPLAY=:0
Type=simple
Restart=always
ExecStart=/etc/hls-nvr/bin/hls-nvr /etc/hls-nvr/config.yaml
StandardOutput=append:/var/log/hls-nvr/hls-nvr.log	
StandardError=append:/var/log/hls-nvr/hls-nvr.log
SyslogIdentifier=hls-nvr

[Install]
WantedBy=multi-user.target

